@model BibliotecaVirtualWeb.ALUNO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ALUNO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOBRENOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOBRENOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NASC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NASC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDERECO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAIRRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAIRRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_RES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_RES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_CEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_CEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_RESERVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_RESERVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
